<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sopranos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    body {
        overflow-x: hidden;
    }
</style>
<body class="bg-light">
<nav class="navbar navbar-expand-lg sticky-top bg-black ">
    <div class="container-fluid">
        <a class="navbar-brand text-light fs-4 ms-2 me-5" href="index.php"><img src="{{ asset('img/icon.jpg') }}" width="90px"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-light fs-4 col-1" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item float-end">
                    <a class="nav-link text-light fs-4 col-1" href="/login">Bestelstatus</a>
                </li>
                <li class="nav-item float-end">
                    <a class="nav-link text-light fs-4 col-1" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid bg-light p-0">


    <img src="img/banner.jpg" alt="" class="" height="300xp" width="100%">

    <div class="row ">
        <h3 class="text-center">Wilt u nog contact nemen?</h3>

        <div class="col mt-5 pt-5 ms-5 ps-5">
            <p>
                <i class="bi bi-telephone-fill text-black fs-3 mb-5"></i> Bel ons op 0611enderestkomtvanzelf
                <br><br>  <i class="bi bi-envelope-at-fill text-black fs-3 mb-5"></i> stuur een mail naar sopranos@hotmail.com
                <br><br>  <i class="bi bi-geo-alt-fill text-black fs-3"></i> Of kom naar ons restaurant
            </p>
        </div>




        <div class="col">  <iframe class="justify-content-end mt-5 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.9423125711237!2d4.
    247399515789798!3d52.04436357972699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5
    b171dd756573%3A0x1cc7d9482ccff082!2sTinwerf%2010%2C%202544%20ED%20Den%20Haag!5e0!3m2!1snl!2snl
    !4v1679946476473!5m2!1snl!2snl" width="600" height="450" style="" allowfullscreen="" loading="lazy"
                                   referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div></div>



</div>

<footer class="container-fluid bg-black mt-2 fixed-bottom">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <p class="text-white fw-bold text-center mt-3 lh-1">Contactgegevens</p>
            <p class="text-white text-center lh-1">Restaurant sopranos</p>
            <p class="text-white text-center lh-1">Appelstraat 1</p>
            <p class="text-white text-center lh-1">1111AA Fruit</p>
            <p class="text-white text-center lh-1">sopranos@hotmail.com</p>
            <p class="text-white text-center lh-1">06-12345678</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <p class="text-white fw-bold text-center mt-3 lh-1">Openingstijden</p>
            <p class="text-white text-center lh-1">Maandag: Gesloten</p>
            <p class="text-white text-center lh-1">Dinsdag: 16:00-22:00</p>
            <p class="text-white text-center lh-1">Woensdag: 16:00-22:00</p>
            <p class="text-white text-center lh-1">Donderdag: 16:00-22:00</p>
            <p class="text-white text-center lh-1">Vrijdag: 15:00-22:00</p>
            <p class="text-white text-center lh-1">Zaterdag: 15:00-22:00</p>
            <p class="text-white text-center lh-1">Zondag: Gesloten</p>
        </div>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>